.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  min-width: max-content;
}

.cart-buttons-container {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
}

.action-button {
  background-color: #ca84e3;
  border-radius: 10px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  height: 3.5rem;
  line-height: 20px;
  margin: 0;
  padding: 10px 16px;
  text-align: center;
  width: 20vw;
  min-width: max-content;
}

.action-button:hover,
.action-button:disabled {
  background-color: #ca84e3;
  filter: brightness(0.8);
}

.popup__close-button {
  background-color: rgb(0 0 0 / 78%);
  border-radius: 8px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  margin: 0;
  padding: 10px 16px;
  text-align: center;
}

.popup__close-button:hover,
.popup__close-button:focus {
  background-color: rgb(0 0 0 / 78%);
  filter: brightness(0.5);
}

.popup__content {
  display: flex;
  flex-direction: column;
}

.popup__info {
  font-size: 18px;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.popup__input {
  width: 40%;
}
