.app-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
}

.cart-button {
  position: absolute;
  left: 50px;
  top: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  background-color: #ca84e3;
  border-radius: 10px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  height: 3rem;
  line-height: 20px;
  padding: 10px 16px;
  text-align: center;
  width: 5vw;
  min-width: max-content;
}

.cart-button:hover {
  background-color: #ca84e3;
  filter: brightness(0.8);
}
